:root {
    
    font-size: 24px;
}

#grid-container {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}



.featured {
 
    grid-column: span 2;
    grid-row: span 2;
    
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3 ;
    object-fit: cover;
}

main#page-layout {

    min-height: 100vh;

    display: grid;
    grid:   "header header header header"
            "menu menu menu menu"
            "page page page page"
            "side side side side"
            "footer footer footer footer";

    grid-template-rows: auto 80px 60vh auto auto;



}

header {

    grid-area: header;
    font-size: 3rem;
}

nav {

    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

article {

    grid-area: page;
}

footer {

    grid-area: footer;
}

aside {

    grid-area: side;
}

header, nav, article, footer, aside {

    border: 5px solid black;
    padding: 0.7rem;
}

main#brickcontainer {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    
}

#brickcontainer div {

    border: 3px solid blueviolet;
}

#brickcontainer div:nth-child(1) {

    grid-row: 2 / span 4;
    grid-column: 3 / span 2;
}

#brickcontainer div:nth-child(2) {

    grid-row: 4 / span 3;
    grid-column: 1 / span 2;
}


/* ipad layout breakpoint */
@media screen and (min-width: 768px) {


    nav {

            justify-content: flex-end;

        }

}


/* desktop layout breakpoint */

@media screen and (min-width: 992px) {


    main#page-layout {

        grid:"header header header header header header"
            "side menu menu menu menu menu"
            "side page page page page page"
            "footer footer footer footer footer footer";
        
        grid-template-rows: auto 80px 60vh auto;
    }


}




/* large desktop layout breakpoint */
@media screen and (min-width: 1500px) {



}