* {

    outline: 1px solid red;

    box-sizing: border-box;

    
}


:root {
    
    font-size: 18pt;
    --primaryColor: rgb(127, 90, 154);
    --secondaryColor: rgb(206, 169, 120);

    --h1FontSize: 2rem;
    --headingFF: "Roca";

    --cardPadding: 10px;
    --containerPadding: 20px;

    --gridGap: 20px;

    --headerHeight: 100px;
}

body {

    margin: 0px;
    margin-top: var(--headerHeight);
}


/* HEADER */


header {

    background-color: rgba(206, 169, 120, 0.8);

    display: grid;
    grid-template-columns: 4fr 1fr;

    align-items: center;

    width: 100vw;

    height: 100px;
    position: fixed;
    top: 0px;
    padding: 0px var(--containerPadding);
}

nav {
    
    justify-self: right;
    display: flex;
    gap: 20px;
}

nav > a {

    text-decoration: none;
    color: var(--primaryColor);
    font-size: 1.3rem;
    padding: var(--cardPadding);
}

nav > a:hover {

    background-color: var(--primaryColor);
    color: white;
}

.brand {

    font-size: 2.5rem;
    color: var(--primaryColor);
}

nav > a:nth-of-type(1) {} 

nav > a:nth-of-type(2), nav > a:nth-of-type(3), nav > a:nth-of-type(4), nav > a:nth-of-type(5) {display: none;}



/* HEADER END */


/* GLOBAL CONTAINERS */

.grid3x1 {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gridGap);
    padding: var(--containerPadding);
}


/* STUDENTS PAGE */

#students {

    background-color: violet;
    
}

#student-grid {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gridGap);

    background-color: lightseagreen;
    padding: var(--containerPadding);
}

/* Student Cards */
#student-grid > div {

    background-color: var(--secondaryColor);
    padding: var(--cardPadding);
}

.img-placeholder {

    width: 100%;
    height: 200px;
    background-color: lightgray;
}
/* Student Cards END */

/* STUDENTS PAGE END */


/* BIOS PAGE */

section#bios {

  
    background-color: lightseagreen;

}

/* BIOS PAGE END */



section#hero {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;


}

.hero-text {

    font-size: var(--h1FontSize);
    color: var(--primaryColor);

}

img {

    width: 100%;
    height: auto;
}

section#poster {

    display: grid;
    grid-template-columns: 1fr;
}



#site-background {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}


div#carousel {

    background-color: blueviolet;
    overflow-x: hidden;
    border-radius: 50%;
    animation: propeller 40s linear infinite;
    transform: translate(-200px) scale(200%);

    filter: blur(50px);
    position: absolute;
    z-index: -1;
}

#carousel-wrapper {

    display: flex;
    flex-direction: row;

    animation: carousel-move 4s linear infinite;
    
}

#carousel-wrapper > div {

    min-width: 400px;
    min-height: 400px;
}

#carousel-wrapper > div:nth-of-type(odd) {

    background-color: var(--primaryColor);

}

#carousel-wrapper > div:nth-of-type(even) {

    background-color: var(--secondaryColor);
}


/* FOOTER */

footer {
    background-color: var(--secondaryColor);
    height: 200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}

/* FOOTER END */


/* ANIMATIONS */

@keyframes carousel-move {

    from {transform: translateX(0);}
    to {transform: translateX(-800px);}
    
}

@keyframes propeller {

    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
    
}

/* Style for iPad */

@media screen and (min-width: 768px) {

    header {

        grid-template-columns: 1fr 1fr;
    }


    #student-grid {

    grid-template-columns: repeat(3, 1fr);
    
}

}

/* Styles for Desktop */

@media screen and (min-width: 992px) {


    .grid3x1 {

    grid-template-columns: repeat(1, 1fr 4fr 1fr);
}

.grid3x1 > * {

    grid-column: 2;
    grid-row: 1;
}



    


    nav > a:nth-of-type(1) {display: none;} 

    nav > a:nth-of-type(2), nav > a:nth-of-type(3), nav > a:nth-of-type(4), nav > a:nth-of-type(5) {display:unset;}





    #students {

    
    grid-template-columns: repeat(1, 1fr 4fr 1fr); }

    #student-grid {

        grid-column: 2;
        grid-row: 1;

    }

    #students > h1 {

        /* grid-column: 2 / 3;
        grid-row: 1; */
    }


    
}

    