* {

    outline: 2px solid magenta;
}

:root {

    font-size: 20px;
}

#parent {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;

}

#parent div {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.la div {

    background-color: rgb(0, 80, 68);
    width: 90vw;

}

.nyc {

    order: 1;
    background-color: darkgray;
    flex-grow: 1;
   flex-shrink: 0;
    flex-basis: 700px;
}

.chicago {

    order: 4;
    background-color: rgb(25, 155, 155);
    flex-grow: 1;
}

.la {

    order: 2;
    background-color: chocolate;
    flex-grow: 2;
    flex-basis: 500px;
    
}

.rio {

    order: 3;
    background-color:rgb(53, 95, 5);
    flex-grow: 1;
}

